<div class="flex flex-col items-center justify-center w-full h-full p-4">
    <div class="w-full rounded-lg shadow-lg border-2 border-gray-300 bg-gray-100 p-6 sm:w-96">
        <p class="text-2xl font-semibold text-center">Willkommen!</p>
        <p class="text-center">Bitte melde dich an, um fortzufahren</p>

        <div class="pt-4">
            <form>
                
            </form>
        </div>
    </div>

    <div class="pt-4">
        <p class="text-sm hover:underline cursor-pointer" [routerLink]="['/auth', 'reset']">Passwort vergessen?</p>
    </div>
</div>